<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- bean元素的作用是，当我们的spring框架加载的时候，spring就会自动的创建一个bean -->
	<bean id="employee" class="com.wayne.entity.Employee">
		<constructor-arg index="0" type="java.lang.String" value="小花"></constructor-arg>
		<constructor-arg index="1" type="int" value="36"></constructor-arg>
	</bean>
</beans>
